<footer>
  <a class="nav-card" id="services" href="services.html">
    <span class="nav-text">Services</span>
    <!-- <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/services-c2.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/services-c2.jpg">
        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/services-c.jpg" alt="HTML code on a computer">
    </picture> -->
  </a>
  <a class="nav-card" id="about" href="about.html">
    <span class="nav-text">About</span>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/about-c2.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/about-c2.JPG">
        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/about.JPG" alt="Saunder van Woerden standing on a dock">
    </picture>
  </a>
  <a class="nav-card" id="contact" href="contact.html">
    <span class="nav-text">Contact</span>
  </a>
</footer>