<header>
    <h1 class="logo"><a href="index.html">DCX</a></h1>

    <div class="nav-container">
        <nav class="desktop">
            <ul>
                <li>
                    <a class="nav-link" href="index.html">Home,</a>
                </li>
                <li>
                    <a class="nav-link" href="about.html">About,</a>
                </li>
                <li>
                    <a class="nav-link" href="services.html">Services,</a>
                </li>
                <li>
                    <a class="nav-link" href="contact.html" id="contact">Contact</a>
                </li>
            </ul>
        </nav>
        <button class="burger-menu">
            <p class="nav-link">Menu</p>
        </button>
    </div>

    <nav class="mobile">
        <button class="close-menu">
            <img id="x" src="/assets/svgs/x.svg" alt="Close">
        </button>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">Works</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>

    </nav>
</header>