/* manrope-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  src: local(""), url('/assets/fonts/manrope-v20-latin-regular.woff2') format('woff2');
}

/* manrope-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  src: local(""), url('/assets/fonts/manrope-v20-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  src: local(""), url('/assets/fonts/manrope-v20-latin-800.woff2') format('woff2');
}

:root {
  --blue: #2176ff;
  --content-margin: 15px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--blue);
  color: black;
}

.skip {
  z-index: -1111111;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--content-margin);
  width: calc(100% - 2 * var(--content-margin));
  height: 80px;
  background-color: black;
  z-index: 100;
  margin-left: var(--content-margin);
  margin-right: var(--content-margin);
}

.logo {
  font-size: 70px;;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--blue);
  margin-left: 10px;
  font-weight: 800;
  margin-bottom: 2px;
} 

.logo a {
  text-decoration: none;
  color: var(--text);
}

.header-right {
  margin-right: 15px;
  margin-bottom: 25px;
  display: flex;
  align-items: flex-end;
  height: 100%;
}

.tagline {
  font-size: 15px;
  color: var(--blue);
  font-weight: 700;
  display: flex;
  flex-direction: column;
  text-align: right;
}